# Ignore run scripts, cluster results, and plots, as these should be produced by the code
data/runScripts/*
!data/runScripts/info.txt

data/clusterResults/*
!data/clusterResults/info.txt

data/plots/featurePlots/*
!data/plots/featurePlots/info.txt

data/plots/performancePlots/*
!data/plots/performancePlots/info.txt

data/plots/predictionPlots/*
!data/plots/predictionPlots/info.txt

# Ignore compiled executable
/cpp_code/main

# Ignore Mac specific files
*.DS_Store
main.dSYM/Contents

# Ignore hidden files
.*
!.gitignore



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


